nav{
    box-shadow: 0px 2px 0px rgba(1, 1, 1, 0.25);
}

.brand h1 {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(90deg, #FF0099, #FFBB22, #FF0099);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 3s linear infinite;
    font-family: 'Courier New', Courier, monospace;
}

/* Animation */
@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.social_links a{
    margin-right: 25px;
    font-size: 24px;
}

@media screen and (max-width: 576px) {
    .brand h1{
        font-size: 2rem;
    }
}